<app-header title="IT CENTER"></app-header>

<div class="container-fluid mt-3" *ngIf="classes">
  <app-class-search-input (searchOut)="onSearchOut($event)" (confirm)="onConfirm()"
                          [loading]="loading" [disabled]="!selectedClasses.length || loading"></app-class-search-input>
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th scope="col">Class Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Time</th>
      <th scope="col">Days</th>
      <th scope="col">Start at</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let class of pagedData">
      <td>
        <span class="badge">
          <a [routerLink]="['/class', class.id]">{{class.name}}</a>
        </span>
      </td>
      <td>
        <span class="badge">
          <a href="#">{{class.subject.name}}</a>
        </span>
      </td>
      <td>
        <span class="badge badge-dark">
          {{class.period.periodOrder | periodOrder}}
        </span>
      </td>
      <td>
        <span class="badge badge-primary">
          {{class.period.sequenceType | sequenceType}}
        </span>
      </td>
      <td>
        <span class="badge badge-secondary">{{class.startedAt | date:'MM/dd/yyyy'}}</span>
      </td>
      <td>
        <span class="badge" [ngClass]="{
          'badge-danger': (class.capacity - class.numberOfStudents) <= 3,
          'badge-warning text-white': (class.capacity - class.numberOfStudents) <= 5,
          'badge-info': (class.capacity - class.numberOfStudents) <= 10,
          'badge-success': (class.capacity - class.numberOfStudents) > 10
          }">{{class.numberOfStudents}}/{{class.capacity}}</span>
      </td>
      <td>
        <button class="btn btn-info btn-sm" *ngIf="class.state === state.REGISTERED">
          Registered
        </button>
        <button class="btn btn-warning text-white btn-sm" *ngIf="class.state === state.CONFLICTED">
          Conflicted
        </button>
        <ng-container *ngIf="class.state !== state.REGISTERED">
          <button class="btn btn-outline-primary btn-sm" *ngIf="!class.selected" (click)="register(class)">
            Register
          </button>
          <button class="btn btn-outline-danger btn-sm" *ngIf="class.selected" (click)="cancel(class)">
            Cancel
          </button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="float-right"
                  [(page)]="page"
                  [collectionSize]="filteredData.length"
                  (pageChange)="onPageChange($event)"
                  [maxSize]="5"
                  [pageSize]="pageSize"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true">
  </ngb-pagination>
</div>
