<div>
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Student name</th>
      <th>Account</th>
      <th>Total</th>
      <th>Created date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoices | orderBy: '-createdAt'">
      <td>
        <span class="badge" style="color: #1565C0">#{{invoice.id}}</span>
      </td>
      <td>
        <span class="badge" style="color: #1565C0">{{invoice.student.name}}</span>
      </td>
      <td>
        <span class="badge" style="color: #1565C0">{{invoice.student.username}}</span>
      </td>
      <td>
        <span class="badge badge-primary">${{invoice.total}}</span>
      </td>
      <td>
        <span class="badge badge-secondary">{{invoice.createdAt | date: 'yyyy-MM-dd'}}</span>
      </td>
      <td>
        <button class="btn btn-outline-primary btn-sm" (click)="onConfirm(invoice)" [disabled]="invoice.loading" *ngIf="!invoice.cancelLoading">
          <app-fa-spinner *ngIf="invoice.loading"></app-fa-spinner>
          <span *ngIf="!invoice.loading">Confirm</span>
        </button>
        <button class="btn btn-outline-danger btn-sm" (click)="onCancel(invoice)" *ngIf="!invoice.loading" [disabled]="invoice.cancelLoading">
          <app-fa-spinner *ngIf="invoice.cancelLoading"></app-fa-spinner>
          <span *ngIf="!invoice.cancelLoading">Cancel</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
