.mat-toolbar.mat-toolbar-48 {
  min-height: 48px !important;
  height: 48px !important;

  .mat-toolbar-row {
    min-height: 48px !important;
    height: 48px !important;
  }
}

.mat-toolbar.mat-toolbar-56 {
  @extend .mat-toolbar.mat-toolbar-48;
}

@media screen and (min-width: 600px) {
  .mat-toolbar.mat-toolbar-56 {
    min-height: 56px !important;
    height: 56px !important;

    .mat-toolbar-row {
      min-height: 56px !important;
      height: 56px !important;
    }
  }
}
