<div class="row">
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <mat-card class="widget-user">
      <div class="row no-gutters">
        <div class="col-8">
          <div class="title">
            {{numberOfStudents}}
          </div>
          <div class="subtitle">
            STUDENTS
          </div>
        </div>
        <div class="col-4 text-right">
          <div>
            <mat-icon class="fa fa-user fa-fw" style="font-size: 32px"></mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <mat-card class="widget-post">
      <div class="row no-gutters">
        <div class="col-9">
          <div class="title">
            {{numberOfClasses}}
          </div>
          <div class="subtitle">
            CLASSES
          </div>
        </div>
        <div class="col-3 text-right">
          <div>
            <mat-icon class="fa fa-credit-card fa-fw"></mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <mat-card class="widget-comment">
      <div class="row no-gutters">
        <div class="col-8">
          <div class="title">
            {{numberOfSubjects}}
          </div>
          <div class="subtitle">
            SUBJECTS
          </div>
        </div>
        <div class="col-4 text-right">
          <div>
            <mat-icon class="fa fa-book fa-fw"></mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <mat-card class="widget-">
      <div class="row no-gutters">
        <div class="col-9">
          <div class="title">
            {{numberOfRooms}}
          </div>
          <div class="subtitle">
            ROOMS
          </div>
        </div>
        <div class="col-3 text-right">
          <div>
            <mat-icon class="fa fa-th fa-fw"></mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
