<app-header title="CLASS INFORMATION"></app-header>

<div class="container">
  <div *ngIf="class">
    <mat-card>
      <div class="d-flex align-items-center">
        <h1 class="mr-2">{{class.name}}</h1>
        <div *ngIf="authenticated && currentUser.role === role.ADMIN">
          <button class="btn btn-outline-primary btn-sm" (click)="onEdit()"
                  *ngIf="!edit">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <ng-container *ngIf="edit">
          <button type="button" class="btn btn-outline-danger btn-sm mr-1" (click)="edit = false; classForm.disable()">
            Cancel
          </button>
          <button type="button" class="btn btn-outline-success btn-sm" (click)="onSave()"
                  [disabled]="classForm.invalid">
            Save
          </button>
        </ng-container>
      </div>
      <hr class="mt-0" style="margin-bottom: 16px">
      <div class="row d-flex justify-content-center mb-3">
        <form [formGroup]="classForm" (keyup.enter)="onSubmit()" class="col-12 col-sm-10 col-md-8">
          <div class="form-group">
            <label>Name:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-credit-card fa-fw"></i>
              </span>
              <input formControlName="name" required class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label>Subject:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-book fa-fw"></i>
              </span>
              <select formControlName="subject" class="form-control">
                <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Start Date:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-play fa-fw" aria-hidden="true"></i>
              </span>
              <input formControlName="startedAt" class="form-control" placeholder="yyyy-MM-dd">
            </div>
          </div>

          <div class="form-group">
            <label>End Date:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-stop fa-fw"></i>
              </span>
              <input formControlName="endedAt" class="form-control" placeholder="yyyy-MM-dd">
            </div>
          </div>

          <div class="form-group">
            <label>Room:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-th fa-fw"></i>
              </span>
              <select formControlName="room" class="form-control">
                <option *ngFor="let room of rooms" [value]="room.id">{{room.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Lecturer:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user-md fa-fw"></i>
              </span>
              <input formControlName="lecturer" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label>Price:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-money fa-fw"></i>
              </span>
              <input formControlName="price" class="form-control" type="number">
            </div>
          </div>

          <div class="form-group">
            <label>Time:</label>
            <select class="form-control" formControlName="periodOrder">
              <option *ngFor="let periodOrder of periodOrders" [value]="periodOrder.key">{{periodOrder.value}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Days:</label>
            <select class="form-control" formControlName="sequenceType">
              <option *ngFor="let sequenceType of sequenceTypes" [value]="sequenceType.key">{{sequenceType.value}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Current Student:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-users fa-fw"></i>
              </span>
              <input [readonly]="true" formControlName="numberOfStudents" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label>Capacity:</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-users fa-fw"></i>
              </span>
              <input [readonly]="true" formControlName="capacity" type="number" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
