input {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  width: 95% !important;
  border-radius: 0 !important;
  line-height: 1 !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
}
