$blue: #1565C0 !default;
$red: #D32F2F !default;
$green: #4CAF50 !default;
$cyan: #00BCD4 !default;

$app-back-ground-color: #fafafa !default;
$border-color: rgba(0, 0, 0, 0.12);
$table-secondary-color: #f5f5f5;
